<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Umm-E-Ali Online Store - Basket</title>
</head>
<body>

  <h1>Basket</h1>

  <table>
    <thead>
    <tr>
      <th>Product</th>
      <th>Price (INR)</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="product : ${products}">
        <td th:text="${product.name}">Hair oil</td>
        <td th:text="${product.price}">999</td>
        <td><input type="number" name="quantity" min="1" th:max="${product.stock}"></td>
        <td th:text="${product.price} * ">999</td>
      </tr>
    </tbody>
  </table>

  <p>
    <a href="../index.html" th:href="@{/static}">Back</a>
  </p>

</body>
</html>