<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Umm-E-Ali Online Store - Products</title>
</head>
<body>

<h1>Product</h1>

<table>
    <thead>
    <tr>
        <th>Product</th>
        <th>Price (INR)</th>
        <th>Stock</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.productName}">Hair oil</td>
            <td th:text="${product.productDescription}">Shine</td>
            <td th:text="${product.price}">999</td>
            <td th:text="${product.stock}">100</td>
            <td th:text="${product.status}">Available</td>
        </tr>
    </tbody>
</table>

<p>
    <a href="../index.html" th:href="@{/static}">Back</a>
</p>

</body>
</html>